html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

form {
  margin-bottom: 0;
}

ul {
  margin: 0;
}

.studied-text-box {
  font-size: 1.6em;
  text-align: center;
  min-height: 5em;
  padding: 0.5em 0;
  border-top: 1px solid #ccc;
  margin: 0 auto;
  max-width: 40em;
}

#doc-settings {
  position: absolute;
  right: 0;
  background-color: #ddd;
  padding: 10px;
}

.language-tag {
  float: left;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #ccc;
}
