.App-main-wrapper {
  margin: 0 10px;
}

.App-main-nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background: white;
}

.App-below-main-nav {
  padding-top: 60px;
}

.App-main-nav > a {
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.1em;
  margin-right: 0.4em;
  border-bottom: 2px solid black;
  color: inherit;
  font-size: 28px;
}

.App-main-nav > a.selected {
  border-bottom: 2px solid red;
}

.App-main-nav > a:hover {
  background: #eee;
}

.App-library-list-item {
  font-size: 18px;
  padding: 0.3em 0;
}

.App-library-list-item:hover {
  background: #ddd;
}

.App-library-list-item > a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.App-new-source-form {
  background: #cce;
  padding: 1em;
  margin: 10px 0;
}

.App-new-set-form {
  background: #cce;
  padding: 1em;
  margin: 10px 0;
}

.App-highlight-set-list a {
  text-decoration: none;
  color: inherit;
}

.App-highlight-set-list a:hover {
  text-decoration: underline;
}

.App-highlight-set-list a:not(.selected)::before {
  content: "";
  display: inline-block;
  width: 1em;
}

.App-highlight-set-list a.selected::before {
  display: inline-block;
  width: 1em;
  content: "> ";
  color: red;
}
