.Button {
  font-size: inherit;
  padding: 0.3em 0.7em;
  background: white;
  color: black;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  cursor: pointer;
}

.Button:hover {
  background: #ddd;
}
