.Player-big-button {
  display: block;
  position: absolute;
  color: white;
  border: none;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 0 5px black;
  background: transparent;
  font-size: 48px;
  padding: 0.2em;
  cursor: pointer;
  line-height: 1;
}

.Player-big-button:hover {
  color: #aaa;
}

.Player-exit-button {
  top: 0;
  left: 0;
}

.Player-toggle-settings-button {
  top: 0;
  right: 0;
}

.Player-subtitle-controls-panel {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
}

.Player-help-panel {
  position: absolute;
  top: 50px;
  right: 0;
  color: white;
  background-color: black;
  opacity: 0.7;
  font-size: 14px;
  width: 250px;
  padding: 10px;
}

.Player-help-panel table {
  border-collapse: collapse;
}

.Player-help-panel td {
  padding: 3px 6px 0 0;
  margin: 0;
}

.Player-help-panel-header {
  font-size: 1.3em;
}

.Player-help-panel-section:not(:last-child) {
  margin-bottom: 10px;
}

.Player-blackfill {
  height: 100vh;
  background: black;
}

.Player-main {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.Player-video-area {
  display: flex;
  flex-flow: column nowrap;
  flex: auto;
  position: relative;
  background: black;
}

.Player-text-chunks {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.Player-text-chunk-outer {
  /*
    With the text-shadow, this background seems optional.
    Itt might be good to have it as an option. We put it in an outer
    wrapper because I think it looks better when it's full-width.
  */
  background: rgba(0,0,0,0.5);
}

.Player-text-chunk-inner {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 0 5px black;
  font-size: 1.6em;
  text-align: center;
  overflow: hidden;
  padding: 0.3em 0.5em;
  margin: 10px auto;
  max-width: 25em;
}

.Player-text-reveal-instructions {
  display: none; /* flex */
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
}

.Player-text-chunk-annotext {
}

.Player-text-chunk-annotext-hidden {
  /*visibility: hidden;*/
  filter: blur(6px);
  transition: filter 0s;
  pointer-events: none;
}

.Player-text-chunk-annotext-visible {
  transition: filter 0.2s;
  /*visibility: visible;*/
}

.Player video {
  display: block;
  flex: auto;
  min-height: 0;
  min-width: 0;
}

.PlayControls {
  flex: initial;
  text-align: center;
  margin: 10px auto;
}
