.SecondaryScreen-header {
  position: fixed;
  width: 100%;
  height: 60px;
  font-size: 32px;
  padding: 0.2em 0.1em;
}

.SecondaryScreen-below-header {
  padding-top: 75px;
  font-size: 18px;
  line-height: 1.5;
}
