.SettingsDictionaries-dict-list {
  margin-bottom: 20px;
}

.SettingsDictionaries-builtin-tag {
  color: grey;
  font-size: 0.8em;
}

.SettingsDictionaries-name-disabled {
  text-decoration: line-through;
}
