.Source-exit-button {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  color: #aaa;
  border: none;
  background: rgba(0,0,0,0.75);
  font-size: 48px;
  padding: 0.2em;
  cursor: pointer;
}

.Source-exit-button:hover {
  color: white;
}

.Source-settings {
  position: absolute;
  right: 0;
  background-color: #ddd;
  padding: 10px;
  z-index: 100;
}

.Source-main {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.Source-video-area {
  display: flex;
  flex-flow: column nowrap;
  flex: auto;
  position: relative;
  background: black;
}

.Source-text-chunks {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.Source-text-chunk-outer {
  background: rgba(0,0,0,0.5);
  color: white;
  text-shadow: 0 0 5px black;
}

.Source-text-chunk-inner {
  font-size: 1.6em;
  text-align: center;
  overflow: hidden;
  padding: 0.3em 0.5em;
  margin: 10px auto;
  max-width: 25em;
}

.Source video {
  display: block;
  flex: auto;
  min-height: 0;
  min-width: 0;
}

.PlayControls {
  flex: initial;
  text-align: center;
  margin: 10px auto;
}
