.Source-big-button {
  display: block;
  position: absolute;
  color: white;
  border: none;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 0 5px black;
  background: transparent;
  font-size: 48px;
  padding: 0.2em;
  cursor: pointer;
  line-height: 1;
}

.Source-big-button:hover {
  color: #aaa;
}

.Source-exit-button {
  top: 0;
  left: 0;
}

.Source-toggle-settings-button {
  top: 0;
  right: 0;
}

.Source-settings-wrapper {
  background-color: #ddd;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
}

.Source-blackfill {
  height: 100vh;
  background: black;
}

.Source-main {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.Source-video-area {
  display: flex;
  flex-flow: column nowrap;
  flex: auto;
  position: relative;
  background: black;
}

.Source-text-chunks {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.Source-text-chunk-outer {
  /*
    With the text-shadow, this background seems optional.
    Itt might be good to have it as an option. We put it in an outer
    wrapper because I think it looks better when it's full-width.
  */
  background: rgba(0,0,0,0.5);
}

.Source-text-chunk-inner {
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 0 5px black;
  font-size: 1.6em;
  text-align: center;
  overflow: hidden;
  padding: 0.3em 0.5em;
  margin: 10px auto;
  max-width: 25em;
}

.Source video {
  display: block;
  flex: auto;
  min-height: 0;
  min-width: 0;
}

.PlayControls {
  flex: initial;
  text-align: center;
  margin: 10px auto;
}
